{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="signup">
    <div class="login__form">
        <h3>Inscription</h3>

          {{ form_start(registrationForm, {'attr': {'class': 'form'}}) }}
            <div class="input__item">
                {{ form_label(registrationForm.email) }}
                {{ form_widget(registrationForm.email, {
                    attr: {placeholder: 'Email', class: 'input'}
                }) }}
                {% if registrationForm.vars.submitted %}
                    {% if not registrationForm.email.vars.errors %}
                        <div class="alert alert-danger">
                            Cet email est déjà utilisé ou invalide.
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="input__item">
                {{ form_label(registrationForm.username) }}
                {{ form_widget(registrationForm.username, {
                    attr: {placeholder: 'Nom d\'utilisateur', class: 'input'}
                }) }}
            </div>
            <div class="input__item">
                {{ form_label(registrationForm.name) }}
                {{ form_widget(registrationForm.name, {
                    attr: {placeholder: 'Nom', class: 'input'}
                }) }}
            </div>
            <div class="input__item">
                {{ form_label(registrationForm.nickname) }}
                {{ form_widget(registrationForm.nickname, {
                    attr: {placeholder: 'Prénom', class: 'input'}
                }) }}
            </div>
            <div class="input__item">
                {{ form_label(registrationForm.plainPassword.first) }}
                {{ form_widget(registrationForm.plainPassword.first, {
                    attr: {placeholder: 'Mot de passe', class: 'input'}
                }) }}
                {% if registrationForm.vars.submitted and registrationForm.plainPassword.first.vars.errors %}
                    <div class="alert alert-danger">
                        {{ form_errors(registrationForm.plainPassword.first) }}
                    </div>
                {% endif %}
                <small class="password-advice text-white">Utiliser au moins une majuscule, minuscule, chiffre et caractère spécial.</small>
            </div>
            <div class="input__item">
                {{ form_label(registrationForm.plainPassword.second) }}
                {{ form_widget(registrationForm.plainPassword.second, {
                    attr: {placeholder: 'Confirmer le mot de passe', class: 'input'}
                }) }}
                {% if registrationForm.vars.submitted and not registrationForm.plainPassword.second.vars.errors %}
                    {% if registrationForm.plainPassword.first.vars.value != registrationForm.plainPassword.second.vars.value %}
                        <div class="alert alert-danger">
                            Les mots de passe ne correspondent pas.
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="input__item">
                <button type="submit" class="btn">S'inscrire</button>
            </div>
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
