{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('chemin/vers/le/fichier/films.css') }}" rel="stylesheet">
{% endblock %}


{% block title %}Tous les Films{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="sorting mb-4">
        <form action="{{ path('film_list_all') }}" method="get">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-between">
                    <label for="order" class="form-label"></label>
                    <select id="order" name="order" class="form-select" onchange="this.form.submit()">
                        <option value="alphabetical" {% if current_order == 'alphabetical' %} selected {% endif %}>Ordre Alphabétique</option>
                        <option value="latest" {% if current_order == 'latest' %} selected {% endif %}>Dernière Sortie</option>
                        <option value="popular" {% if current_order == 'popular' %} selected {% endif %}>Plus Populaires</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="row justify-content-center">
        {% for film in films %}
            <div class="col-md-4 mb-4">
<div class="card h-100 shadow slide-up">
                    {% set firstImage = film.getImages()|first %}
                    <a href="{{ path('app_film_detail', {'id': film.id}) }}">
                        <img src="{{ firstImage ? asset('assets/img/' ~ firstImage.getPhoto()) : asset('assets/img/default/image.jpg') }}" alt="Image de {{ film.name }}" class="card-img-top film-image">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title film-title"><span class="film-name">{{ film.name }}</span>
                        <!-- Affichage conditionnel de la note moyenne ou de la date de sortie -->
                        {% if current_order == 'popular' %}
                            <br><small class="text-muted">Note : {{ film.getAverageRating ? film.getAverageRating ~ '/5' : 'Non noté' }}</small>
                        {% elseif current_order == 'latest' %}
                            <br><small class="text-muted">Sortie : {{ film.dateSortie|date('d/m/Y') }}</small>
                        {% endif %}
                        </h5>
                        <p class="card-text film-description">{{ film.getDescription()|striptags|slice(0, 200) ~ '...' }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('app_film_detail', {'id': film.id}) }}" class="btn btn-primary">Voir plus</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}