{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <!-- Ajout d'un espace entre le header et les films -->
        <div class="row">
            {% for film in films %}
                <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
                    <div class="card h-100 slide-up">
{% set firstImage = film.getImages()|first %}
                    <a href="{{ path('app_film_detail', {'id': film.id}) }}">
                        <img src="{{ firstImage ? asset('assets/img/' ~ firstImage.getPhoto()) : asset('assets/img/default/image.jpg') }}" alt="Image de {{ film.name }}" class="card-img-top film-image">
                    </a>                        
                    <div class="card-body">
                            <h5 class="card-title film-title">{{ film.name }}</h5>
                            <p class="card-genre">
                                {% for genre in film.genres %}
                                    <span class="badge badge-secondary">{{ genre.name }}</span>
                                {% endfor %}
                            </p>
                            <p class="film-description">{{ film.description|striptags|slice(0, 200) ~ '...' }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{{ path('app_film_detail', {'id': film.id}) }}" class="btn btn-primary">Voir plus</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <p class="text-center">Aucun film n'a été trouvé dans ce genre.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
