{% extends 'base.html.twig' %}

{% block title %}Films populaires{% endblock %}

{% block body %}
   <div class="container mt-5">
    <div class="sorting mb-4">
        <form action="{{ path('popular_films') }}" method="get">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-between">
                    <label for="order" class="form-label"></label>
                    <select id="order" name="order" class="form-select" onchange="this.form.submit()">
                        <option value="popular" {% if current_order == 'popular' %}selected{% endif %}>Plus Populaires</option>
                        <option value="alphabetical" {% if current_order == 'alphabetical' %}selected{% endif %}>Ordre Alphabétique</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
        <div class="row">
            {% for film in films %}
                <div class="col-md-4">
<div class="card mb-4 slide-up">
                        {% set firstImage = film.getImages()|first %}
                    <a href="{{ path('app_film_detail', {'id': film.id}) }}">
                        <img src="{{ firstImage ? asset('assets/img/' ~ firstImage.getPhoto()) : asset('assets/img/default/image.jpg') }}" alt="Image de {{ film.name }}" class="card-img-top film-image">
                    </a>
                        <div class="card-body">
                            <h5 class="card-title film-title">{{ film.name }}</h5>
                            <p class="film-rating">Note : {{ film.averageRating }}/5</p>
                            <p class="card-text film-description">{{ film.getDescription()|striptags|slice(0, 200) ~ '...' }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{{ path('app_film_detail', {'id': film.id}) }}" class="btn btn-primary">Voir plus</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
