{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		{% if films is defined and films|length > 0 %}
			<div class="row">
				<div class="col-lg-8">
					<div class="trending__product">
						<div class="row">
							<div class="col-lg-8 col-md-8 col-sm-8">
								<div class="section-title">
									<h4>Résultats de recherche</h4>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="btn__all"><!-- Adjust the href if needed --></div>
							</div>
						</div>
						<div class="row">
							{% for film in films %}
								<div class="col-lg-4 col-md-6 col-sm-6">
									<div class="product__item">
										<a href="{{ path('app_film_detail', {'id': film.id}) }}">
											<img src="{{ asset('assets/img/' ~ (film.getImages()|first).getPhoto()) }}" alt="Image de {{ film.name }}" class="product__item__pic">
										</a>
										<div class="product__item__text">
											<ul>
												{% for genre in film.genres %}
													<li>{{ genre.name }}</li>
												{% endfor %}
											</ul>
											<h5>
												<a href="{{ path('app_film_detail', {'id': film.id}) }}">{{ film.name }}</a>
											</h5>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		{% else %}
			<div class="row justify-content-center">
				<div class="col-lg-12 text-center">
					<div class="alert alert-secondary mt-5" role="alert">
						<h4 class="alert-heading">Oh non !</h4>
						<p>Nous n'avons pas trouvé de films correspondant à votre recherche.</p>
						<hr>
						<p class="mb-0">Essayez avec d'autres mots-clés ou
							<a href="{{ path('film_list_all') }}" class="alert-link">parcourez notre collection</a>.</p>
					</div>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}
