{% block stylesheets %}
<style>
    /* Menu déroulant : couleur du texte */
    .dropdown-menu a {
        color: black !important; /* Couleur du texte noir pour les éléments du menu */
    }

    /* Menu déroulant : couleur du texte au survol */
    .dropdown-menu a:hover {
        color: red !important; /* Couleur du texte rouge au survol */
    }
</style>
{% endblock %}


<header class="header">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a href="{{ path('app_homepage') }}">
                        <img src="{{ asset('assets/img/logo3.png') }}" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-7 header__menu-col">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li class="active"><a href="{{ path('app_homepage') }}">Accueil</a></li>
                        <li class="dropdown">
                            <a href="#">Genres <span class="arrow_carrot-down"></span></a>
                            <ul class="dropdown__menu">
                                {% for genre in genres %}
                                    <li><a href="{{ path('genre_show', {'id': genre.id}) }}">{{ genre.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li><a href="{{ path('film_list_all') }}">Tous les films</a></li>
                        <li><a href="{{ path('popular_films') }}">Les plus populaires</a></li>
                        <li><a href="{{ path('latest_releases') }}">Dernière sortie</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('admin') }}">CRUD</a></li>
                        {% endif %}
         </ul>
                </nav>
            </div>
            <div class="col-lg-3 text-right">
                <div class="header__right">
                    <a class="search-switch" style="margin-right: 20px;"><span class="icon_search"></span></a>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="user-area dropdown">
                            <a href="#" class="user-area-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
                                {{ app.user.username }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{{ path('app_profile') }}">Profil</a>
                                <a class="dropdown-item" href="{{ path('mes_favoris') }}">Vos favoris</a>
                                <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
                            </div>
                        </div>
                    {% else %}
                        <a href="{{ path('app_login') }}" style="color: white;"><span class="icon_profile"></span> Connexion</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
